@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght0300;400;500;600;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

:root {
    --white: #fff;
    --whitesmoke: #f9f9f9;
    --light-grey: #ececec;
    --grey: #c4c4c4;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1b77f3;
    --red: #cf3c3f;              
}
main {
    display: flex;
    overflow: hidden;
    height: 100vh;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 332px;
    height: 100vh;
    padding: clamp(35px, 8%, 20px);
    justify-content: space-between;
}

.wrapper {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_logo {
    width: 100px;
    margin-bottom: 50px;
}
.login_title {
    color: var(--deep-grey);
    font-size: 1.3em;
    margin-bottom: 30px;
}

.login_label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.input {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: var(--light-grey);
    border-radius: 5px;
    outline: none;
    font-size: 0.7em;
    padding: 15px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}
.login_label span {
    position: absolute;
    font-size: 0.55em;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 15px;
    cursor: text;
    transition: all 280ms ease;
}

.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}
.login_label .span-active {
    font-size: 0.52em;
    margin: 2px 10px;
}

.login_icons {
    display: flex;
    gap: 5px;
    width: 100%;
}
.login_icons img {
    width: 16px;
}
.icons_button {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.login_icons .icons_button:nth-child(1) {
    background-color: var(--blue);
}
.login_icons .icons_button:nth-child(1):hover {
    background-color: hsl(214, 79%, 41%);
}
.login_icons .icons_button:nth-child(2) {
    background-color: var(--light-grey);
}
.login_icons .icons_button:nth-child(2):hover {
    box-shadow: inset 0px 1px 4px 2px var(--light-grey);
}
.login_icons .icons_button:nth-child(3) {
    background-color: var(--black);
}
.login_icons .icons_button:nth-child(3):hover {
    background-color: rgba(0, 0, 0, 0.849);
}
.login_icons .icons_button:nth-child(4) {
    background-color: green;
}
.login_icons .icons_button:nth-child(4) img {
    width: 18px;
}
.login_icons .icons_button:nth-child(4):hover {
    background-color: rgb(7, 71, 7);
}

.login_label-checkbox {
    width: 100%;
    margin: 15px 0px 50px;
    font-size: 0.7em;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.input-checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--light-grey);
    margin-right: 8px;
    border-radius: 3px;
 
}
.input-checkbox:checked {
    background-color: var(--red);
}
.input-checkbox:checked::after {
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    border: 3px solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 2px 5px;
    font-weight: 100;

}

.login_button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom:  60px;
}
.login_button:hover {
    background-color: rgb(185, 30, 30);
}
.login_button svg {
    fill: white;
}
.login_button:disabled {
    cursor: auto;
    background-color: white;
    border: 2px solid var(--light-grey);
}
.login_button:disabled svg {
    fill: var(--grey);
}

.login_link {
    font-size: 0.5em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 800;
}
.login_link:hover {
    color: var(--black);
}
.wallpaper {
    width: 100%;
    background: url("imagens/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}
